@{
    ViewData["Title"] = "About Us";
}

<div style="margin-top:5%">
<h5>This page was created to encourage the use of ASP.NET and Docker</h5>
</div>

<div style="margin-top:5%">
<h2>What is docker?</h2>
<p>Docker is an open-source project that automates the development, deployment and running of applications inside isolated containers. 
Containers allow developers to bundle up an application with all of the parts it needs, such as libraries and other dependencies, 
and ship it as one package.</p>
</div>

<div style="margin-top:5%">
<h2>What about ASP.NET?</h2>
<p>ASP.NET is an open source web framework, created by Microsoft, for building modern web apps and services with .NET.
ASP.NET is cross platform and runs on Windows, Linux, macOS, and Docker.</p>
</div>





