@{
    ViewData["Title"] = "Docker - ASP.NET";
}

<div class="text-center">
    <h1 class="display-4" style="" >Docker - ASP.NET</h1>
   
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
     <a href="https://www.docker.com/"> <img src="~/docker.png" alt="Docker" height="10%"></a>
       <div class="carousel-caption text-black">
   
     <a href="https://www.docker.com/" style="text-decoration:none; color:#B4B4B4;"> <p>Do you want to know about Docker? Click Here!!</p></a>
  </div>
    </div>
    <div class="carousel-item">
     <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2"> <img src="netcore.png" alt=".NetCore" height="100%"></a>
       <div class="carousel-caption text-black">
    <h3></h3>
    <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2" style="text-decoration:none; color:white;"><p>Do you want to know about .NetCore? Click Here!!</p></a>
  </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

</div>
